<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="TutorialConnection" connectionString="Data Source=bitdev.ict.op.ac.nz;Initial Catalog=IN712_201202_HAWKHJE1;Persist Security Info=True;User ID=HAWKHJE1;Password=JHa_3FEE" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
